<div class="col-md-12" style="margin:30px 0px 600px 0px;">
	<div class="col-md-1">&nbsp;</div>
	<div class="col-md-10 cmsTable">
		<h2 style="color:#5cb85c"><em><%= flash[:notice] %></em></h2>
		<h2 class="titles2 placements">Slides</h2>
		<table class="table table-striped" id="sortableAnnouncement">
		 		<thead>
		   		<tr>
					<th class="ten">Image</th>
		     		<th class="thirty">Title</th>
		     		<th class="five">Description?</th>
					<th class="five">Soundcloud</th>
					<th class="thirty">Vimeo</th>
					<th class="five">Image?</th>
					<th class="five">Slideshow?</th>
					<th class="five">Type</th>
					<th class="five">Slideshow Position</th>
		   		</tr>
		 		</thead>
		 		<tbody>
		   		<% @sorted_slides.each do |slide| %>
	     			<tr data-item-id=<%= "" %> class="item">
						<td class="ten"><%= image_tag(slide.slide_image, class: "thumb2") %></td>
	       				<td class="thirty"><%= best_in_place slide, :slide_title %></td>
						<td class="five"><% if slide.description? %>Yes<% else %>No<% end %></td>
						<td class="five"><%= slide.soundcloud %></td>
						<td class="thirty"><%= slide.vimeo %></td>
						<td class="five"><% if slide.slide_image? %>Yes<% else %>No<% end %></td>
						<td class="five"><%= best_in_place slide, :slideshow, as: :checkbox, collection: {false: "No", true: "Yes"} %></td>
						<td class="five"><%= slide.model_name %></td>
						<td class="five"><%= best_in_place slide, :Slideshowposition %></td>
	     			</tr>
		   		<% end %>
		 		</tbody>
		</table>
		<%= link_to 'Launch homepage', root_path, class: "btn btn-success"  %>
	</div>
</div>