<div class="tableResults" style="margin:25px 0px 60px 0px;">
	<h2 style="color:#5cb85c"><em><%= flash[:notice] %></em></h2><br/>
	<%= form_tag import_works_path, class: "csvInput marginCsv", multipart: true do %>
		<%= file_field_tag :file %><br/>
		<%= submit_tag "Import CSV", class: "btn btn-success marginCsv2" %>
	<% end %>
	<%= link_to 'Add New Work', new_work_path, class: "btn btn-success csvInput4"  %>
	<div id="works"><%= render 'placements' %></div>
</div>