<div class="section section-GridElement  grid-size-threes has_hover">
	<div class="inner-wrapper flex-list" style="margin-top:60px;margin-bottom:60px;">
		<div class="iframe">
			<% if @first_work.platform == "vimeo" %>
				<iframe name="ifrm" id="ifrm" src="https://player.vimeo.com/video/<%= @first_work.vimeo %>" 
				frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			<% else %>
				<iframe name="ifrm" id="ifrm" src="https://www.youtube.com/embed/<%= @first_work.vimeo %>" 
				frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			<% end %>
		</div>
		
		<ul style="margin:60px 64px 0px 64px;font-size:14px;">
			<% @works.each do |work| %>
				<% if work.platform == "vimeo" %>
			    	<li><a href="https://player.vimeo.com/video/<%= work.vimeo %>" onclick="return loadIframe('ifrm', this.href);"><%= work.brand_name %></a></li>
				<% else %>
					<li><a href="https://www.youtube.com/embed/<%= work.vimeo %>" onclick="return loadIframe('ifrm', this.href);"><%= work.brand_name %></a></li>
				<% end %>
			<% end %>
		</ul>
		
	</div>
</div>