<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<meta http-equiv="X-UA-Compatible" content="IE=9;IE=10;IE=Edge,chrome=1">

	<title>Elephant Music | Unique music to picture</title>
	
	<meta name="theme-color" content="#ffffff">
	<meta name="robots" content="noindex,follow">
	
	<% if controller_name == "admins" || controller_name == "admin" %>
		<%= stylesheet_link_tag 'adminApplication', media: 'all', 'data-turbolinks-track' => true %>
	<% else %>
		<%= stylesheet_link_tag 'mainApplication', media: 'all', 'data-turbolinks-track' => true %>
	<% end %>
	
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	
</head>
	<body class="bgImage">
		<% if controller_name == "admins" || controller_name == "admin" %>
			<%= render 'layouts/main' %>
		<% else %>
			<%= render 'layouts/main' %>
			<%= render 'layouts/footer' %>
		<% end %>
	</body>
</html>